- if params[:page_name] == 'contacts'
  = render 'static_pages/contacts'

- elsif params[:page_name] == 'how_it_works'
  = render 'static_pages/how_it_works'

- elsif params[:page_name] == 'about'
  = render 'static_pages/about'

- else
  = @content
