%div{style: "border: 1px #323232 solid; border-radius: 8px; background-color: #eee"}
  AT #{message.created_at.to_s(:db)} #{message.sender.full_name} said to #{message.recipient.full_name}:
  = message.body
