%tr
  %td{:bgcolor => '#ebecec', :style => 'line-height:0; font-size:0;'}
    %img{:height => '44', :src => 'http://teach-me.com.ua/assets/mailer/mail_bottom_container.png', :width => '600'}/
%tr
  %td{:bgcolor => '#ebecec', :style => 'line-height: 0; font-size: 0;'}
    %img{:height => '20', :src => 'http://teach-me.com.ua/assets/mailer/none.gif', :width => '1'}/
/ Footer
%tr
  %td
    %table{:bgcolor => '#ebecec', :cellpadding => '0', :cellspacing => '0', :style => 'background: #ebecec;', :width => '600'}
      %tr
        %td{:style => 'line-height: 0; font-size: 0;'}
          %img{:height => '1', :src => 'http://teach-me.com.ua/assets/mailer/none.gif', :width => '40'}/
        %td{:width => '520'}
          %font{:color => '#888888', :face => 'Arial', :size => '2', :style => 'font:13px/16px Arial, Helvetica, sans-serif;'} © Teach-me.com.ua  2013
        %td{:style => 'line-height: 0; font-size: 0;'}
          %img{:height => '1', :src => 'http://teach-me.com.ua/assets/mailer/none.gif', :width => '40'}/