.comments
  .row
    .span8
      .comments-column
        %h3
          %i.icon-comments.hidden-phone
          = t('hints.leave_a_comment')
        .comments-box
          = render @commentable.comments

        .comments-form
          = form_for [@commentable, Comment.new] do |f|
            .input-append.clearfix

              - if current_user.blank?
                = f.text_area :body, placeholder: t('comment.textarea_disabled'), readonly: true
              - else
                %textarea.span5{ placeholder: t('comment.textarea_placeholder'), size: '16', type: 'text', name: 'comment[body]' }
                %button.btn.submittable{:type => "button"} Enter