.main
  .profile
    .left
      .avatar
        = image_tag user.image_attachment.try(:image, :medium)
      .avatar_bottom
      .activity Was at
      .delim
      .rating
        .value= user.ratings.size
        .vote_up
        .vote_down
      .delim
      .subscriptions
        .hint
          My subscribers:
        .subscribers
          - followers.limit(9).each_slice(3) do |slice|
            .line
              - slice.each do |follower|
                .subscriber
                  %a{ href: user_path(follower) }
                    = image_tag follower.image_attachment.image(:thumb)
        .delimiter
        - if followers.count > 9
          .load_more.clickable= t("load_more")
    .right
