.connected_user
  .avatar_wrapper
    .avatar
      = image_tag(connected_user.image_attachment.try(:image, :thumb) || 'missing.png')
    .bottom
  .info
    .full_name
      = connected_user.full_name
    .delim
    .management
      .subscribe.invisible
        %a{ href: user_user_connections_path(connected_user), data: { method: :post, connection_type: connection_type } }
          %span= t('user.return')
      .unsubscribe
        %a{ href: user_user_connections_path(connected_user), data: { method: :delete, connection_type: connection_type } }
          %span