.subscriber
  .avatar_wrapper
    .avatar
      = image_tag(subscriber.image_attachment.try(:image, :thumb) || 'missing.png')
    .bottom
  .info
    .full_name
      = subscriber.full_name
    .delim
    .management
      .subscribe.invisible
        %a{ href: user_user_connections_path(subscriber), data: { method: :post } }
          %span= t('user.subscribe')
      .unsubscribe
        %a{ href: user_user_connections_path(subscriber), data: { method: :delete } }
          %span
.subscriber_delimiter