- if @user == current_user
  = render partial: 'users/current_user', locals: { user: @user, followers: @followers }
- else
  = render partial: 'users/foreign_user', locals: { user: @user, followers: @followers }