.paper-sheet-wrapper
  .paper-sheet.left
    .top
    .mid
    .bot
  .paper-sheet-bottom
.paper-connection.left
.paper-sheet-wrapper
  .paper-sheet.mid
    .top
    .mid
    .bot
  .paper-sheet-bottom
.paper-connection.right
.paper-sheet-wrapper
  .paper-sheet.right
    .top
    .mid
    .bot
  .paper-sheet-bottom
