.paper-sheet-wrapper
  .paper-sheet.t1
    .top
    .mid
    .bot
  .paper-sheet-bottom
.paper-connection.t1
.paper-sheet-wrapper
  .paper-sheet.t2
    .top
    .mid
    .bot
  .paper-sheet-bottom
.paper-connection.t2
.paper-sheet-wrapper
  .paper-sheet.t3
    .top
    .mid
    .bot
  .paper-sheet-bottom
