.flat-side-box.lesson-attachments
  %p= t('lesson.uploaded_files')
  %ul
    - attachments.each do |file_attachment|
      %li
        = link_to file_attachment_path(file_attachment) do
          - if file_attachment.file.file.extension.downcase == 'pdf'
            %i.icon-pdf
          - else
            %i.icon-file
          %span.attached-file= File.basename file_attachment.file.to_s