.flat-side-box
  %p= t('lesson.uploaded_files')
  %ul
    - attachments.each do |file_attachment|
      %li
        = link_to file_attachment.file.url do
          - if file_attachment.file.file.extension.downcase == 'pdf'
            %i.icon-pdf
          - else
            %i.icon-file
          %span= file_attachment.short_summary || file_attachment.file.url