.span3
  %aside
    %h2 Категории
    %nav.side-nav
      %ul
        %li.cat-culinary
          %a.active{:href => "#"}
            %span.icon
            %span.text Кулинария
            %span.state
          .sub-level
            %ul
              %li
                %a.active{:href => "#"}
                  %span Выпечка
                  %i ( 1453 )
              %li
                %a{:href => "#"}
                  %span Деликатесы
                  %i ( 523 )
              %li
                %a{:href => "#"}
                  %span Напитки
                  %i ( 123 )
        %li.cat-creative_arts
          %a{:href => "#"}
            %span.icon
            %span.text Искусство
            %span.state
          .sub-level
            %ul
              %li
                %a{:href => "#"}
                  %span Выпечка
                  %i ( 1453 )
              %li
                %a.active{:href => "#"}
                  %span Деликатесы
                  %i ( 523 )
              %li
                %a{:href => "#"}
                  %span Напитки
                  %i ( 123 )
        %li.cat-entrepreneurship
          %a{:href => "#"}
            %span.icon
            %span.text Бизнесс
            %span.state
          .sub-level
            %ul
              %li
                %a.active{:href => "#"}
                  %span Выпечка
                  %i ( 1453 )
              %li
                %a{:href => "#"}
                  %span Деликатесы
                  %i ( 523 )
              %li
                %a{:href => "#"}
                  %span Напитки
                  %i ( 123 )
        %li.cat-lifestyle
          %a{:href => "#"}
            %span.icon
            %span.text Образ жизни
            %span.state
          .sub-level
            %ul
              %li
                %a{:href => "#"}
                  %span Выпечка
                  %i ( 1453 )
              %li
                %a{:href => "#"}
                  %span Деликатесы
                  %i ( 523 )
              %li
                %a{:href => "#"}
                  %span Напитки
                  %i ( 123 )
        %li.cat-technology
          %a{:href => "#"}
            %span.icon
            %span.text Технологии
            %span.state
          .sub-level
            %ul
              %li
                %a{:href => "#"}
                  %span Выпечка
                  %i ( 1453 )
              %li
                %a{:href => "#"}
                  %span Деликатесы
                  %i ( 523 )
              %li
                %a{:href => "#"}
                  %span Напитки
                  %i ( 123 )
