%h1.italic_header
  - if @lesson.try(:course)
    = t "headers.edit_lesson_for", course: @lesson.course.name
  - else
    = t "headers.edit_lesson"
= render partial: 'lesson_form', locals: { lesson: @lesson, interests: @interests }
= render partial: 'invisible_interests', locals: { interests: @interests }