.teach_options_wrapper
  %h1.italic_header= t "headers.create_course_or_lesson"
  .create_lesson
    %a{ href: new_lesson_lessons_path }
      %span= t "lesson_form.create_lesson"
  .create_course
    %a{ href: new_course_path }
      %span= t "lesson_form.create_course"
  .delimiter