%h1.italic_header
  - if @course
    = t "headers.new_lesson_for", course: @course.name
  - else
    = t "headers.new_lesson"
= render partial: 'lesson_form', locals: { interests: @interests, course: @course, lesson: @lesson }
= render partial: 'invisible_interests', locals: { interests: @interests }
