%h1.italic_header
  = t 'headers.edit_course'
= render partial: 'course_form', locals: { course: @course, interests: @interests }
= render partial: 'lessons/invisible_interests', locals: { interests: @interests }