%h1
  New Course
= render partial: 'course_form', locals: { course: @course, interests: @interests }

- @interests.each do |interest|
  .invisible{id: "interest_options_#{interest.id}"}
    = options_for_select(interest.sub_interests.map{ |i| [i.name.capitalize, i.id] })