%li.clickable_popover{"data-placement" => "bottom"}
  %a.status-link{:href => "#"} 0
  %div
    .event-dropdown
      .dropdown-title=t 'no_new_notifications'
  -#%div
  -#  .event-dropdown
  -#    .dropdown-title Ближайшие события:
  -#    %ul.event-list
  -#      -# TODO for each user.event do
  -#        -#%li.clearfix
  -#        -#  .event-meta.clearfix
  -#        -#    %span.date.pull-right 31.05.2013
  -#        -#    %span Начало урока:
  -#        -#  .event-title
  -#        -#    %a{:href => "#"} Как я провел лето или зачем нужны трусы н...
  -#        -#  %div Иванов Иван Иванович
  -#        -#  .tags
  -#        -#    %a{:href => "#"}> Сказки
  -#        -#    ,
  -#        -#    = succeed "," do
  -#        -#      %a{:href => "#"} Романы
  -#        -#    = succeed "." do
  -#        -#      %a{:href => "#"} Искуство писателя
  -#        -#  %a.dropdown-link.pull-right{:href => "#"} Перейти
