.admin-panel {

  background: url('bg-user-sidebox.png');

  .body-wrapper {
    width: 1024px;
  }

  .navigation-list {

    .list-item {
      margin-right: 10px;
    }
  }

  .lessons-page {
    margin-top: 10px;
  }
}

