.admin-panel {

  background: image_url('bg-user-sidebox.png');

  .body-wrapper {
    width: 1024px;
  }

  .navigation-list {

    .list-item {
      margin-right: 10px;
    }
  }

  .lessons-page, .courses-page {
    margin-top: 10px;

    .contact-teacher {
      margin: 15px auto 120px auto;
      width: 590px;

      .action-item {
        margin-right: 15px;

        .btn {
          padding: 10px 20px;
          font-size: 18px;
        }
      }
    }

    .contact-actions {
      margin: 15px auto 120px auto;
      width: 670px;

      .action-item {
        margin-right: 15px;

        .btn {
          padding: 10px 20px;
          font-size: 18px;
        }
      }

    }
  }


  .margin-right-10 {
    margin-right: 10px;
  }
}
