.course{
  width: 1000px;
  border: 1px #c2c6bd solid;
  background: url("course-icon.png") #e7ebe2 no-repeat;
  padding: 17px 19px 4px 19px;

  .title{
    line-height: 32px;
    color: #264db0;
    font-family: Arial;
    font-size: 19px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
  }

  .body{
    .hint{
      font: {
        family: Arial;
        style: italic;
        size: 13px;
      }
      line-height: 22px;
      color: #323232;
    }
    .left{
      border: 1px #c2c6bd solid;
      background-color: #f5f4f3;
      margin: 5px 0 16px 0;
      float: left;
      width: 671px;
      padding: 7px 10px 4px 12px;
      min-height: 117px;
      font: {
        family: Arial;
        size: 13px;
      }
      color: #323232;
    }

    .right{
      margin-top: 5px;
      float: right;
      width: 251px;
      background-color: #e9dcc9;
      border: 1px #bab19f solid;
      padding: 5px 0 5px 19px;

      .field, .content{
        font: {
          family: Arial;
          size: 13px;
        }
        line-height: 19px;
      }

      .field{
        color: #323232;
        padding-right: 12px;
      }

      .content{
        font-weight: bold;
        a{
          font-weight: auto;
          color: #264db0;
          text-decoration: none;
        }
      }
    }
  }
}

