// Devise specific styles

@import "mixings";


.pretty_input{
  width: 240px;
  height: 28px;

  margin: 10px 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;

  &.login_sign_in, &.pass_sign_in, &.email_sign_in{
    border: 1px #bdc4c6 solid;
  }

  &.login_register, &.pass_register, &.email_register{
    border: 1px #57a7d1 solid;
  }

  &.auth_error_login, &.auth_error_pass, &.email_error{
    border: 1px #d15757 solid;
  }

  &.login_sign_in, &.pass_sign_in, &.email_sign_in{
    @include color_fill(#fff);
  }

  &.login_register, &.pass_register, &.email_register{
    @include color_fill(#edf5f9);
  }

  &.auth_error_login, &.auth_error_pass, &.email_error{
    @include color_fill(#f9eded);
  }

  &.login_sign_in{
    @include input_hint_img(-61px 0);
  }

  &.pass_sign_in{
    @include input_hint_img(-61px -28px);
  }

  &.login_register{
    @include input_hint_img(0 0);
  }

  &.pass_register{
    @include input_hint_img(0px -28px);
  }

  &.auth_error_login{
    @include input_hint_img(-31px 0);
  }

  &.auth_error_pass{
    @include input_hint_img(-31px -28px);
  }

  &.email_sign_in{
    @include input_hint_img(-61px -56px);
  }

  &.email_register{
    @include input_hint_img(0 -56px);
  }

  &.email_error{
    @include input_hint_img(-31px -56px);
  }


  input{
    width: 195px;
    height: 28px;
    border: 0;
    padding: 0;
    font-family: 'Arial';
    font-style: italic;

    &:focus{
      outline-width: 0;
    }

  }

  .left, .right{
    float: left;
    padding-left: 6px;
  }

  .left{
    width: 25px;
    height: 28px;
    background: url('inputs-sprite.png') no-repeat;
  }

  .right{
    width: 202px;
  }


}

.sign_in, .sign_up, .password_restore, .update_email{
  a{
    text-decoration: none;
    color: #0b0fff;
  }

  .form_wrapper{
    padding-top: 8px;

    .auth_error_messages{
      padding: 10px 0 3px 0;
      font: {
        family: 'Arial';
        size: 13px;
        weight: bold;
      }
      color: #D15757;
    }
  }

  label{
    font: {
      family: Arial;
      size: 13px;
    }
  }

  .shared_links{
    padding-top: 10px;
    padding-bottom: 12px;
    height: 23px;

    .shared_sign_up, .shared_forgot_password, .shared_sign_in, .skip_link{
      a{
        color: #989898;
        font: {
          family: Arial;
          size: 13px;
        }
      }
    }

    .shared_sign_up{
      float: left;
      width: 56px;
    }

    .shared_sign_in, .skip_link{
      float: left;
      width: 46px;
    }

    .shared_forgot_password{
      float: right;
      width: 129px;
      text-align: right;
    }
  }
  form{
    margin-bottom: 12px;
  }

  #submit_button{
    @include blue_button(102px, 28px);
    float: right;
  }

  .facebook, .vkontakte{
    width: 254px;
    float: left;
    height: 40px;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;

    &:hover{
      background-position: 0 -40px;
    }
    &:active{
      background-position: 0 -120px;
    }

    a{
      font: {
        family: Arial;
        style: italic;
      }
      color: #fff;
    }

    .logo{
      float: left;
      width: 39px;
      height: 40px;
    }

    .link{
      float: left;
      line-height: 38px;
      text-align: center;
      width: 211px;
    }

    .button_delim{
      float: left;
      height: 34px;
      margin-top: 3px;
      width: 2px;
    }
  }

  .vkontakte{
    background-image: url("vk-button-bg.png");
    border: 1px #4a6a91 solid;

    .logo{
      background: url("vk-button-logo.png") 8px 8px no-repeat;
    }

    .button_delim{
      background: url("vk-button-delimiter.png") no-repeat;
    }
  }

  .facebook{
    background-image: url("fb-button-bg.png");
    border: 1px #264285 solid;
    margin-left: 20px;

    .logo{
      background: url("fb-button-logo.png") 11px 4px no-repeat;
    }

    .button_delim{
      background: url("fb-button-delimiter.png") no-repeat;
    }
  }
}

.sign_in{
  margin: 93px auto 0 auto;
  width: 534px;

  a.vkontakte img{
    width: 157px;
    padding-right: 10px;
  }

  a.facebook img{
    width: 216px;
  }

  .form_wrapper{
    width: 244px;
    margin: 0px auto;
    padding: 0;

    form{
      margin: 0;
    }

    .remember_me{
      float: left;
      width: 132px;
      color: #989898;
      label{
        font: {
          family: Arial;
          size: 13px;
        }
      }
    }

  }

  .not_social_link{
    float: right;
    padding-bottom: 5px;
    a{
      text-decoration: underline;
      color: #989898;
      font: {
        style: italic;
        family: Arial;
        size: 13px;
      }
    }
  }

  .auth_italic_hint{
    margin-top: 4px;
    color: #989898;
    font: {
      style: italic;
      family: Arial;
      size: 13px;
    }
  }
}

.sign_up{
  margin: 93px auto 0 auto;
  width: 242px;
}

.update_email{
  margin: 93px auto 0 auto;
  width: 242px;

  li{
    list-style: none;

    p.inline-errors{
      display: none;
    }
  }

  .change_email_hint{
    color: #7a7a7a;
    font: {
      style: italic;
      family: Arial;
      size: 15px;
    }
  }
}

.password_restore{
  margin: 93px auto 0 auto;
  width: 242px;

  .shared_links .shared_sign_in{
    float: right;
  }

}



