// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixings';

body{
  background: #fcfcfc url("header-gradient.png") repeat-x;
  margin: 0;
  padding: 0;
}

a{
  outline: none;
  &:active{
    outline: none;
  }
}

.body-wrapper{
  width: 1000px;
  margin: 0 auto;
}


.header-top{

  .left, .mid, .right{
    float: left;
    width: 332px;
    height: 92px;
    background-image: url("clouds-sprite2.png");
  }

  .mid{
    background-position: 0px 50%;

    .learn-link{
      width: 120px;
      margin: 0 auto;
      padding-top: 34px;
    }

  }
  .right{
    background-position: 0px 90px;

    .auth{
      width: 281px;
      height: 30px;
      float: right;
      margin: 30px 20px 32px 0;

      .profile{
        float: left;
        width: 241px;
        height: 30px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border: 1px #57a7d1 solid;
        background-color: #fff;

        .image{
          width: 28px;
          height: 28px;
          float: left;
          border-right: 1px #57a7d1 solid;
          border-radius: 2px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          padding: 1px 1px 2px 1px;

          img{
            width: 28px;
            height: 28px;
          }
        }

        .name{
          width: 131px;
          height: 30px;
          float: left;
          line-height: 30px;
          font-family: Arial;
          font-style: italic;
          font-weight: bold;
          font-size: 12px;
          overflow: hidden;
          text-align: center;
        }

        .profile_button{
          @include blue_button(54px, 30px);
          float: right;
          padding: 0 12px;
          border: none;
          border-left: 1px #57a7d1 solid;
        }
      }

      .sign_out{
        float: right;
        width: 30px;
        height: 30px;
        border: 1px #b12121 solid;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        cursor: pointer;
        background: url('signout.png') no-repeat;

        &:hover{
          background-position: 0 -30px;
        }

        &:active{
          background-position: 0 -60px;
        }
        @include clickable_div;
      }

      .sign_in_button{
        @include blue_button(54px, 24px);
        float: right;
        padding: 0 12px;
      }
    }

  }
  .left .logo{
    padding: 30px 0 0 21px;
  }
}

.delim{
  height: 2px;
  background-image: url("header-delimiter.jpg");
  clear: both;
}

#vk_like{
  clear: none !important;
  float: left;
}

.header-bottom .study-link{
  margin: 0 auto;
  width: 124px;
}

.main{
  min-height: 503px;

  h1.italic_header{
    font: {
      family: Arial;
      style: italic;
      size: 18px;
      weight: normal;
    }
  }
}

.footer-wrapper{
  .content{
    padding-top: 40px;
    height: 92px;

    .links{
      height: 32px;

      a{
        font-family: Arial;
        font-size: 12px;
        color: #989898;
        font-style: italic;
        margin-left: 20px;
        text-decoration: none;
      }
    }
  }
  .social-links{
    float: left;
    width: 275px;
    height: 33px;
    margin-left: 20px;
    margin-top: 10px;
  }

  .dc-logo{
    float: right;
    background-image: url("dc-logo.png");
    width: 115px;
    height: 41px;
  }

}

.delimiter{
  clear: both;
}

.main{
  padding-top: 13px;
  padding-bottom: 25px;

  .paper-sheet-wrapper{
    float: left;
  }

  .paper-connection{
    float: left;
    background: url("paper-conn.png") no-repeat;
    width: 30px;
    height: 340px;

    &.t1{
      background-position: 0 117px;
    }

    &.t2{
      background-position: 0 168px;
    }
  }

  .paper-sheet-bottom{
    background: url("notebook-bottom.png");
    width: 308px;
    height: 6px;
  }

  .paper-sheet{
    height: 346px;
    width: 306px;
    background: url("papersheet-bg.png");
    border: 1px #dadada solid;

    .top, .bot{
      height: 30px;
    }

    .mid{
      height: 280px;
      margin-left: 19px;

      .header{
        padding-left: 33px;
        line-height: 31px;

        font: {
          family: Arial;
          size: 23px;
          style: italic;
        }
      }

      .sub_interests{
        padding-top: 31px;
        ul{
          padding: 0;
          margin: 0;
          list-style: none;
          padding-left: 33px;

          li{
            line-height: 31px;
            background: url("interest_selection.png") 195px -30px no-repeat;
            cursor: pointer;

            &.selected, &:hover{
              background: url("interest_selection.png") 195px 0px no-repeat;
              a{
                color: #264db0;
                text-decoration: none;
              }
            }

            a{
              text-decoration: none;
              color: #8d8d8d;
              font:{
                family: Arial;
                size: 14px;
              }
            }

          }
        }
      }
    }
  }

  .paper-sheet.t1{
    .top, .mid, .bot{
      border-left: 1px #f0bcb4 solid;
      margin-left: 19px;
    }

    .bot{
      background: url("notebook-sprite.jpg") 249px 0 no-repeat;
    }
  }

  .paper-sheet.t2{
    margin-top: 31px;
    .top{
      background: url("notebook-sprite.jpg") 0 100% no-repeat;
    }

    .bot{
      background: url("notebook-sprite.jpg") 271px 0 no-repeat;
    }
  }

  .paper-sheet.t3{
    .top, .mid, .bot{
      border-right: 1px #f0bcb4 solid;
      margin-right: 19px;
    }
    .top{
      background: url("notebook-sprite.jpg") 0 100% no-repeat;
    }

    .bot{
      background: url("notebook-sprite.jpg") 0 0 no-repeat;
    }
  }

  .paper-sheet.t4{
    height: 407px;

    .top{
      background: url("notebook-sprite.jpg") 0 100% no-repeat;
    }

    .mid{
      height: 342px;
    }

    .bot{
      background: url("notebook-sprite.jpg") 271px 0 no-repeat;
    }
  }

  .paper-sheet.t5{
    @extend .paper-sheet.t1;
    margin-top: 61px;
  }
}


