@mixin rounded_corners ($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

/* styles classes_page start */

section {
  padding: 30px 0 50px;
}

.heading {
  padding: 0 0 20px;
  border-bottom: 1px solid #ebebea;

  form {
    margin: 0;

    input::-webkit-input-placeholder {
      font-style: italic;
    }

    input:-moz-placeholder { /* Firefox 18- */
      font-style: italic;
    }

    input::-moz-placeholder {  /* Firefox 19+ */
      font-style: italic;
    }

    input:-ms-input-placeholder {
      font-style: italic;
    }
  }

  h1 {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    color: #2d2d25;
  }
}

.main {
  margin-top: 10px;

  .main-column {
    padding-top: 35px;
  }
}

aside {
  h2 {
    margin: 0;
    color: #2d2d25;
    font-size: 18px;
    font-weight: normal;
  }
}

.lesson-list {
  .lesson-container {
    margin: 0;
    width: 50%;

    .lesson {
      @include rounded_corners(6px);
      border: 1px #ccc solid;
      margin-bottom: 54px;
      min-height: 395px;
      width: 95%;
      position: relative;

      h2 {
        margin-left: 3%;
        margin-top: 13px;
        width: 80%;
        line-height: 21px;

        > a {
          color: #e94f1f;
          font-size: 20px;
        }
      }

      .item-illustration {
        width: 52%;
        margin: 6px 0 0 3%;
      }

      .item-details {
        width: 45%;
        margin-top: 6px;

        .info, .address, .start-date, .start-time {
          height: 25px;
          line-height: 19px;
          clear: both;

          i {
            background-image: image_url('lesson_icons.png');
            width: 19px;
            height: 17px;
            display: block;
            line-height: 14px;
            margin: 1px 2px 0 10px;
            float: left;
          }
        }

        .info > i{
          background-position: 19px;
        }

        .address > i {
          background-position: 37px;
        }

        .spacer {
          height: 91px;
        }

        .start-date {
          font-weight: bold;

          > i {
            background-position: 0px;
          }
        }

        .start-time {
          font-weight: bold;

          > i {
            background-position: -18px;
          }
        }
      }

      .description {
        margin: 10px 3% 25px 3%;
        font-size: 16px;        
      }

      .price-box {
        @include rounded_corners(4px);
        min-width: 176px;
        position: absolute;
        left: 35%;
        border: 2px #ff9e80 solid;
        height: 40px;
        bottom: -26px;
        background: #fff;

        .left {
          float: left;
          font-size: 14px;
          line-height: 34px;
          text-align: center;
          min-width: 78px;
          height: 38px;
          padding-top: 2px;

          b {
            font-size: 25px;
          }
        }

        .right {
          float: right;
          background: #dc4a1c;
          border: 2px #dc4a1c;
          border-left: 0;
          height: 41px;
          width: 86px;
          font-size: 17px;
          line-height: 37px;
          padding-left: 12px;

          a {
            color: #fff;
            font-weight: bold;
          }

          a:after {
            content: "\BB";
          }
        }
      }


      .lesson-ribbon-wrapper {
        @include rounded_corners(6px);
        position: absolute;
        height: 50px;
        width: 50px;
        right: 0px;
        left: auto;
        overflow: hidden;

        .lesson-ribbon {
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          position: relative;
          background-color: #eee;
          overflow: hidden;
          padding-bottom: -37px;
          top: -7px;
          left: 2px;
          line-height: 35px;
          text-align: center;
          height: 30px;
          width: 74px;
          font-size: 13px;
          padding-top: 5px;
          font-weight: bold;

        }
      }
    }
  }

}

/* pagination start */

.pagination-wrapper {
  width: 100%;
  background: image_url('bg-pagination.gif') 0 0 repeat;
  border-top: 1px solid #eeede8;

  .pagination {
    ul {
      width: 100%;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;

      li {
        margin-right: 10px;
        font-size: 12px;
        line-height: 27px;
        float: left;

        a {
          color: #2d2d25;
          border: 1px solid #d7dce0;
          @include rounded_corners(3px);
          -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

          &:hover,
          &:focus {
            border-color: #ca4e28;
            background: #ef673d;
            color: #fff;
          }
        }

        &.active {
          a {
            border-color: #ca4e28;
            background: #ef673d;
            color: #fff;
          }
        }
      }
    }
  }
}

/* pagination end */

/* styles classes_page end */


/* Large desktop */
@media (min-width: 1200px) { }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  // .course-box {

  //   .entry-footer {
  //     padding: 20px 30px;
  //
  //     .btn {
  //       float: left;
  //       margin-left: 0;
  //       margin-right:25px;
  //     }
  //
  //     .price {
  //       float: left;
  //     }
  //
  //     .places-data {
  //       width: 100%;
  //       clear: both;
  //       padding: 10px 0 0;
  //
  //       li {
  //         float: left;
  //         margin: 0 15px 0 0;
  //       }
  //     }
  //   }
  // }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {


}

/* Landscape phones and down */
@media (max-width: 480px) {

  .heading {
    h1 {
      width: 100%;
      overflow: hidden;
      padding-top: 15px;
    }
  }

  // .course-box {

  //   .entry-footer {
  //     padding: 20px 30px;
  //
  //     .btn {
  //       float: left;
  //       margin-left: 0;
  //       margin-right:25px;
  //     }
  //
  //     .price {
  //       float: left;
  //     }
  //
  //     .places-data {
  //       width: 100%;
  //       clear: both;
  //       padding: 10px 0 0;
  //
  //       li {
  //         float: left;
  //         margin: 0 15px 0 0;
  //       }
  //     }
  //   }
  // }
}
