@import 'mixings';

#lesson_page_wrapper{
  width: 1000px;
  #navigation_wrapper{
    width: 274px;
    border: 1px #dadada solid;
    background-color: white;
    float: left;

    #navigation {
      float: left;
      width: 266px;
      background: url("papersheet-bg.png");

      .opened{
        display: none;
      }

      .left, .mid, .right{
        float: left;
      }

      .left{
        width: 20px;
        min-height: 20px;
        border-right: 1px #f0bcb4 solid;

        .switch{
          width: 20px;
          height: 16px;

          .image{
            width: 13px;
            height: 12px;
            margin: 15px 0 0px 3px;
            background: url("plus-minus.png") 0 0 no-repeat;
            cursor: pointer;
            &.is_closed{ background-position: 0 0; }
            &.is_opened{ background-position: 0 -12px; }
          }
        }
      }

      .mid{
        width: 231px;
        padding: 6px 0 0 12px;

        ul{
          margin: 0;
          list-style: none;
          padding: 0;
          border: 0;

          li{
            a{
              line-height: 31px;
              font-family: Arial;
              text-decoration: none;
              color: #264db0;
              font-style: italic;
            }

            .sub a{
              color: #0d1322;
              font-size: 14px;
            }
          }
        }
        ul.sub{
          display: none;
        }
      }
    }
  }
  #lessons {
    float: left;
    width: 650px;
  }


  #load_more_lessons{
    background: url("load_more_bg.png") 0 0 repeat-x;
    height: 32px;
    width: 220px;
    line-height: 32px;
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    font-style: italic;
    color: #566267;
    border-left: 1px #cad2d2 solid;
    border-right: 1px #cad2d2 solid;
    border-radius: 2px;
    margin: 81px auto 21px auto;
    cursor: pointer;

    &:hover{
      background-position: 0 -32px;
    }

    &:active{
      background-position: 0 -64px;
    }
  }

}

#lessons, .profile .content{
  float: left;
  padding: 0 0 0 38px;
  width: 740px;
  min-height: 400px;

  .lesson_wrapper{
    width: 740px;
    margin-bottom: 48px;

    .body{
      .text{
        width: 572px;
        float: left;
        font-family: Arial;
        color: #535353;
        font-size: 13px;
        padding-bottom: 14px;
      }

      .buy_pass{
        background: url("buy-pass.png") 0 0 no-repeat;
        width: 74px;
        height: 40px;
        float: left;
        margin: 0 20px 0 33px;
        padding-left: 26px;
        padding-top: 6px;
        cursor: pointer;
        @include clickable_div;

        &.disabled{
          background: url("buy-pass-disabled.png") 0 0 no-repeat;
        }

        a{
          color: black;
          font-style: italic;

          &.disabled{
            cursor: initial;
          }
          span{
            top: 6px;
            left: 3px;
          }
        }
      }

    }

    .title{
      padding: 17px 0;
      width: 572px;

      a {
        color: #264db0;
        font-family: Arial;
        font-size: 19px;
        font-style: italic;
        font-weight: bold;
        text-decoration: none;
      }
    }

    .bot{
      padding-top: 17px;

      .text_block, .lesson_delimiter{
        float: left;
      }

      .text_block{
        padding-right: 9px;
        font-family: Arial;
        color: #535353;
        font-size: 12px;

        .places_count{
          color: #cd5b33;
          color: #6b8b15;
          font-weight: bold;
        }

        a{
          color: #264db0;
          text-decoration: none;
        }

      }
      .lesson_delimiter{
        border-left: 1px #aaaaaa solid;
        width: 9px;
        height: 13px;
        margin-top: 2px;
      }
    }

  }

}