@mixin rounded_corners ($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 15px;
  line-height: 1.2;
  color: #646464;
  background: image_url('bg-body.png') 0 0 repeat;

  section {
    min-height: 694px;
  }
}


a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

#header {
  width: 100%;
  background: image_url('bg-header.png') 0 100% repeat-x;
  padding: 0 0 10px;
  position: relative;
  z-index: 2;

  &.no-padding {
    padding: 0;
  }
}

.header-wrapper {
  background: #fff;
}

.logo {
  float: left;
  width: 129px;
  height: 63px;
  margin-left: 20px;
  background: image_url('logo.png') 0 100% repeat-x;
  text-indent: -9999px;

  a {
    display: block;
    height: 100%;
  }
}

.main-nav {
  float: left;
  padding: 14px 0 0 30px;

  a {
    color: #232007;
    float: left;
    padding: 6px 30px;
    margin: 0 0 0 1px;

    &:hover,
    &.active {
      color: #fff;
      background: #ef673d;
      text-decoration: none;
      @include rounded_corners(3px);
    }
  }
}


.action-nav {
  float: right;
  padding: 20px 0 0;

  a {
    color: #232007;
    float: left;
    border-bottom: 2px solid transparent;
    margin-left: 25px;
    margin-right: 20px;
    padding-bottom: 9px;

    &:hover,
    &.active {
      color: #232007;
      text-decoration: none;
      border-bottom-color: #e94f1f;
    }
  }
}

.flash-alert, .flash-notice {
  position: absolute;
  top: 52px;
  left: 30%;
  z-index: 3;
  width: 40%;
  padding: 8px 12px 8px 14px;
  color: #2d2d25;
  @include rounded_corners(4px);

  &.flash-notice {
    background: rgba(98, 196, 98, 0.6);
    border: 1px #51a351 solid;
  }

  &.flash-alert {
    background: rgba(255, 68, 68, 0.6);
    border: 1px #CD3939 solid;
  }
}

/* styles intro start */
.intro {
  background: image_url('bg-intro.jpg');
  color: #fff;
  font-size: 20px;
  line-height: 1.174;
  padding: 40px 0 80px;

  .intro-text {
    float: left;
    width: 570px;
  }

  .intro-text h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0 0 17px;
  }

  .intro-text h1 b {
    display: block;
    font-size: 85px;
    line-height: 1;
    margin-top: -18px;
  }

  .intro-text p {
    margin: 0 0 30px;
  }

  .intro-text .btn {
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    padding: 10px 60px;
    position: relative;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0);
  }

  .intro-text .btn:after {
    content: " ";
    position: absolute;
    left: 100%;
    top: 60%;
    background: image_url('intro-button-steps.png');
    width: 36px;
    height: 60px;
  }

  .intro-text .btn:hover,
  .intro-text .btn:focus,
  .intro-text .btn:active,
  .intro-text .btn.active {
    background: rgba(255, 255, 255, 0.1);
  }
  .intro-illustration {
    float: right;
    display: table;
    background: image_url('bg-intro-ill.png');
    width: 358px;
    height: 352px;
    font-size: 26px;
    line-height: 20px;
    text-align: center;
    margin: 0 -10px 0 0;
    position: relative;
  }

  .intro-illustration p {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
  }
}

.category-panel {
  background: image_url('bg-panel.gif');
  border-bottom: 4px solid #ebeced;
  position: relative;
  z-index: 2; }
  .category-panel .container {
    padding-top: 60px;
    position: relative; }
  .category-panel .ribbon {
    position: absolute;
    top: -48px;
    left: 0;
    width: 100%; }

.ribbon {
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  text-align: center;

  .ribbon-divider {
    position: absolute;
    left: 50%;
    top: 6px;
    margin: 0 0 0 -19px;
    width: 38px;
    height: 38px;
    background: #9d2d0a;
    font-size: 15px;
    line-height: 38px;
    font-weight: 700;
    color: #fff;
    border-top: none;
    border-radius: 38px;
  }

  a {
    display: block;
    height: 1%;
    font-size: 40px;
    line-height: 50px;
    color: #fff; }

  a:hover {
    text-decoration: none;
  }

  .ribbon-left {
    float: left;
    width: 50%;
    background: image_url('bg-ribbon.png') 0 0 no-repeat;
    padding: 0 0 25px;
  }

  .ribbon-left a {
    margin-left: 30px;
    border-right: 1px solid #ca3a0d;
    background: image_url('ribbon-arrow-left.png') 93% 50% no-repeat;
  }

  .ribbon-left a:hover {
    background-color: #fb792b;
  }

  .ribbon-right {
    float: left;
    width: 50%;
    background: image_url('bg-ribbon.png') 100% 100% no-repeat;
    padding: 0 0 25px;
  }

  .ribbon-right a {
    margin-right: 30px;
    border-left: 1px solid #305a83;
    background: image_url('ribbon-arrow-right.png') 7% 50% no-repeat;
  }

  .ribbon-right a:hover {
    background-color: #5b88b3;
  }
}

.category-nav {
  position: relative;

  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    float: left;
    margin-bottom: -4px;
    position: relative;

    > li {
      float: left;
      width: 20%;
      position: relative;

      > a {
        display: block;
        padding: 0 0 0 32%;
        position: relative;
        width: 69%;
        font-size: 18px;
        line-height: 48px;
        font-weight: 700;
        color: #fff;
      }

      > a:hover {
        text-decoration: none;
      }

      > a:before {
        content: " ";
        position: absolute;
        width: 34px;
        height: 34px;
        left: 16px;
        top: 50%;
        margin-top: -17px;
        background: image_url('icons-category.png') 0 0 no-repeat;
      }

      > a:after {
        content: " ";
        position: absolute;
        width: 11px;
        height: 6px;
        right: 17px;
        top: 50%;
        margin-top: -2px;
        background: image_url('arrow-down.png') 0 0 no-repeat;
      }

      ul {
        background: #fff;
        position: absolute;
        left: 0;
        top: 100%;
        width: 91%;
        padding: 5px 10px;
        margin: -1px 0 0;
        list-style: none;
        border: 1px solid #fff;
        display: none;
        z-index: 1;
      }

      ul li {
        padding: 5px 0;
      }

      ul li a {
        display: table;
        font-size: 16px;
        line-height: 1.25;
        width: 100%;
        color: #2c2c24;
      }

      ul li a span {
        display: table-cell;
        vertical-align: top;
      }

      ul li a i {
        display: table-cell;
        vertical-align: bottom;
        font-style: normal;
        text-align: right;
        white-space: nowrap;
      }

      ul li a:hover {
        color: #e94f1f;
        text-decoration: none;
      }

    }

    > li:hover ul {
      display: block;
    }

    > li.cat-culinary > a {
      background-color: #e5a330;
    }

    > li.cat-culinary > a:hover {
      background-color: #c98919;
    }

    > li.cat-culinary > a:before {
      background-position: -136px 0;
    }

    > li.cat-culinary:hover > a {
      background-color: #c98919;
    }

    > li.cat-culinary ul {
      border-color: #c98919;
    }

    > li.cat-creative_arts > a {
      background-color: #c42656;
    }

    > li.cat-creative_arts > a:hover {
      background-color: #991e43;
    }

    > li.cat-creative_arts > a:before {
      background-position: -34px 0;
    }

    > li.cat-creative_arts:hover > a {
      background-color: #991e43;
    }

    > li.cat-creative_arts ul {
      border-color: #991e43;
    }

    > li.cat-entrepreneurship > a {
      background-color: #1cb2de;
    }

    > li.cat-entrepreneurship > a:hover {
      background-color: #168eb1;
    }

    > li.cat-entrepreneurship > a:before {
      background-position: 0 0;
    }

    > li.cat-entrepreneurship:hover > a {
      background-color: #168eb1;
    }

    > li.cat-entrepreneurship ul {
      border-color: #168eb1;
    }

    > li.cat-lifestyle > a {
      background-color: #4cab3d;
    }

    > li.cat-lifestyle > a:hover {
      background-color: #3b8530;
    }

    > li.cat-lifestyle > a:before {
      background-position: -102px 0;
    }

    > li.cat-lifestyle:hover > a {
      background-color: #3b8530;
    }

    > li.cat-lifestyle ul {
      border-color: #3b8530;
    }

    > li.cat-technology > a {
      background-color: #835dd9;
    }

    > li.cat-technology > a:hover {
      background-color: #6334cf;
    }

    > li.cat-technology > a:before {
      background-position: -68px 0;
    }

    > li.cat-technology:hover > a {
      background-color: #6334cf;
    }

    > li.cat-technology ul {
      border-color: #6334cf;
    }
  }

  &.lessons-nav > ul > li {
    width: 15%;

    &.search-lessons {
      width: 25%;
      background-color: #f49a0e;

      form {
        margin: 0 0 9px;

        input {
          margin: 9px 0 0 19px;
        }

        button {
          margin: 9px 0 0 0;
        }
      }
    }

    > ul {
      width: 88%;
    }
  }
}


.item-list {
  padding: 60px 0 40px; }
  .item-list h2 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-size: 28px;
    color: #2c2c24;
    font-weight: 700; }

.item-el {
  border: 1px solid #e1e1e1;
  padding: 4px;
  box-shadow: 0 0 1px #f6f6f6;
  margin: 0 0 40px; }
  .item-el .item-illustration {
    margin: 0 0 10px; }
    .item-el .item-illustration img {
      display: block;
      width: 100%;
      height: auto; }
  .item-el .item-data {
    padding: 0 15px; }
  .item-el .item-title {
    font-size: 22px;
    line-height: 1;
    margin: 0 0 10px; }
  .item-el .item-tags {
    margin: 0 0 10px; }
    .item-el .item-tags a {
      font-weight: 700;
      color: #2c2c24; }
      .item-el .item-tags a:hover, .item-el .item-tags a:focus {
        color: #2c2c24; }
    .item-el .item-tags .label {
      text-transform: uppercase; }
  .item-el .item-description {
    margin: 0 0 15px; }
  .item-el .item-author {
    border-top: 1px solid #ebebea;
    padding: 20px 0; }
    .item-el .item-author .author-photo {
      float: left;
      margin: 0 10px 0 0; }
      .item-el .item-author .author-photo a {
        display: block;
        border: 1px solid #d1d1d1;
        padding: 3px; }
      .item-el .item-author .author-photo img {
        display: block; }
    .item-el .item-author .author-data {
      overflow: hidden; }
    .item-el .item-author .author-name {
      font-size: 20px;
      line-height: 1.2;
      color: #2c2c24; }
      .item-el .item-author .author-name a {
        color: #2c2c24; }
        .item-el .item-author .author-name a:hover, .item-el .item-author .author-name a:focus {
          color: #2c2c24; }
    .item-el .item-author .author-tags {
      font-size: 12px; }
      .item-el .item-author .author-tags a {
        color: #585857; }
        .item-el .item-author .author-tags a:hover, .item-el .item-author .author-tags a:focus {
          color: #585857; }
  .item-el .item-footer {
    color: #2c2c24;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    background: #edfad7;
    padding: 15px; }

/* styles active-users start */
.active-users-box {
  border-top: 3px solid #477e94;
  background: image_url('bg-active-user-box.png');
  padding: 35px 0 55px; }
  .active-users-box h3 {
    margin: 0 0 3px;
    color: #2d2d25;
    font-size: 16px;
    line-height: 1.25; }

.active-users {
  max-width: 1016px;
  background: image_url('bg-active-user.png') 0 15px no-repeat;
  margin: 0 auto; }
  .active-users .box {
    float: left;
    width: 33.333%;
    background: image_url('bg-active-user.png') 0 15px no-repeat; }
    .active-users .box h4 {
      margin: 0;
      text-align: center;
      font: italic 11px/15px Georgia, serif; }
    .active-users .box ul {
      margin: 0;
      padding: 0 10px;
      list-style: none;
      text-align: justify;
      font-size: 1px;
      line-height: 0; }
      .active-users .box ul li {
        width: 42px;
        background: image_url('bg-active-user-img.png') 50% 0 no-repeat;
        display: inline-block;
        vertical-align: top;
        padding: 11px 0 0; }
        .active-users .box ul li:nth-child(2n) {
          padding-top: 6px; }
        .active-users .box ul li a {
          display: block;
          border: 1px solid transparent;
          padding: 4px;
          background: #fff;
          -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3); }
          .active-users .box ul li a img {
            display: block; }
      .active-users .box ul:after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 0;
        visibility: hidden; }
    .active-users .box.box-1 {
      background-position: 0 15px; }
      .active-users .box.box-1 h4 {
        color: #eaffa9; }
      .active-users .box.box-1 ul li a {
        border-color: #86b200; }
    .active-users .box.box-2 {
      background-position: 50% 15px; }
      .active-users .box.box-2 h4 {
        color: #ffdbb3; }
      .active-users .box.box-2 ul li a {
        border-color: #c08876; }
    .active-users .box.box-3 {
      background-position: 100% 15px; }
      .active-users .box.box-3 h4 {
        color: #e0efff; }
      .active-users .box.box-3 ul li a {
        border-color: #76a7dd; }

/* styles active-users end */
/* styles brands start */
.brands-box {
  background: image_url('bg-brands.gif') 0 0 repeat-x;
  margin: -17px 0 0;
  padding: 17px 0 0;
  position: relative; }
  .brands-box .brands-wrapper {
    width: 100%;
    background: #fff;
    padding: 35px 0; }

.brands {
  width: 100%;
  text-align: justify;
  font-size: 1px;
  line-height: 0; }
  .brands:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: hidden; }
  .brands a {
    display: inline-block;
    vertical-align: middle;
    text-indent: -9999px;
    margin: 0 20px;
    overflow: hidden; }
    .brands a.logo-go {
      background: image_url('logo-go.jpg') 0 0 no-repeat;
      width: 170px;
      height: 60px;
    }

    .brands a.logo-mim {
      background: image_url('mim_logo_partner.jpg') 0 0 no-repeat;
      width: 170px;
      height: 60px;
    }

    .brands a.logo-bf {
      background: image_url('logo-bf.jpg') 0 0 no-repeat;
      width: 170px;
      height: 60px;
    }

    .brands a.logo-today {
      background: image_url('logo-today.png') 0 0 no-repeat;
      width: 52px;
      height: 38px; }

    .brands a.logo-mashable {
      background: image_url('logo-mashable.png') 0 0 no-repeat;
      width: 101px;
      height: 20px; }

    .brands a.logo-tech-crunch {
      background: image_url('logo-tech-crunch.png') 0 0 no-repeat;
      width: 115px;
      height: 16px; }

/* styles brands end */
/* Large desktop */
@media (min-width: 1200px) {
  .intro {
    font-size: 23px;
    line-height: 1.174;
    padding: 50px 0 80px; }
    .intro .intro-text {
      width: 720px; }
      .intro .intro-text h1 {
        font-size: 44px;
        line-height: 1.2; }
        .intro .intro-text h1 b {
          font-size: 104px;
          line-height: 1;
          margin-top: -20px; }
      .intro .intro-text .btn {
        font-size: 23px;
        line-height: 46px;
        padding: 10px 65px; }
        .intro .intro-text .btn:after {
          top: 70%; } }
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .intro {
    padding: 40px 0 100px; }
    .intro .intro-text {
      width: 100%; }

  .category-nav > ul > li > a {
    min-height: 48px; }
    .category-nav > ul > li > a span {
      display: none; }
    .category-nav > ul > li > a:before {
      left: 50%;
      top: 50%;
      margin-top: -17px;
      margin-left: -17px; }
    .category-nav > ul > li > a:after {
      display: none; }
  .category-nav > ul > li ul {
    padding: 4px 8px; }
    .category-nav > ul > li ul li {
      padding: 5px 0; }
      .category-nav > ul > li ul li a {
        font-size: 14px;
        line-height: 1.25; }

  .brands a {
    margin: 0 10px; } }
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .intro {
    font-size: 17px;
    line-height: 1.174;
    padding: 40px 0 90px; }
    .intro .intro-text {
      width: 100%; }
      .intro .intro-text h1 {
        font-size: 34px;
        line-height: 1.2; }
        .intro .intro-text h1 b {
          font-size: 62px;
          line-height: 1;
          margin-top: -12px; }
      .intro .intro-text .btn {
        font-size: 18px;
        line-height: 34px;
        padding: 10px 45px; }
        .intro .intro-text .btn:after {
          top: 50%; }

  .ribbon a {
    font-size: 30px; }

  .category-nav > ul > li:hover ul {
    display: none; }
  .category-nav > ul > li > a {
    min-height: 48px;
    padding-left: 0; }
    .category-nav > ul > li > a span {
      display: none; }
    .category-nav > ul > li > a:before {
      left: 50%;
      top: 50%;
      margin-top: -17px;
      margin-left: -17px; }
    .category-nav > ul > li > a:after {
      display: none; }
  .category-nav > ul > li ul {
    display: none; }

  .item-el {
    margin: 0 0 30px; }
    .item-el .item-data {
      padding: 0; }
    .item-el .item-title {
      font-size: 18px;
      line-height: 1; }
    .item-el .item-description {
      margin: 0 0 15px; }
    .item-el .item-author {
      padding: 15px 0; }
      .item-el .item-author .author-name {
        font-size: 16px;
        line-height: 1.2; }
    .item-el .item-footer {
      font-size: 14px;
      line-height: 1.25;
      padding: 10px; }

  .brands a {
    margin: 0 10px; } }
/* Landscape phones and down */
@media (max-width: 480px) {
  .intro {
    font-size: 15px;
    line-height: 1.174;
    padding: 30px 0 90px; }
    .intro .intro-text {
      width: 100%; }
      .intro .intro-text h1 {
        font-size: 30px;
        line-height: 1.2; }
        .intro .intro-text h1 b {
          font-size: 50px;
          line-height: 1;
          margin-top: -10px; }
      .intro .intro-text .btn {
        font-size: 16px;
        line-height: 30px;
        padding: 10px 40px; }
        .intro .intro-text .btn:after {
          top: 40%; }

  .ribbon a {
    font-size: 25px; }

  .category-nav > ul > li:hover ul {
    display: none; }
  .category-nav > ul > li > a {
    min-height: 48px;
    padding-left: 0; }
    .category-nav > ul > li > a span {
      display: none; }
    .category-nav > ul > li > a:before {
      left: 50%;
      top: 50%;
      margin-top: -17px;
      margin-left: -17px; }
    .category-nav > ul > li > a:after {
      display: none; }
  .category-nav > ul > li ul {
    display: none; }

  .item-el {
    margin: 0 0 30px; }
    .item-el .item-data {
      padding: 0; }
    .item-el .item-title {
      font-size: 18px;
      line-height: 1; }
    .item-el .item-description {
      margin: 0 0 15px; }
    .item-el .item-author {
      padding: 15px 0; }
      .item-el .item-author .author-name {
        font-size: 16px;
        line-height: 1.2; }
    .item-el .item-footer {
      font-size: 14px;
      line-height: 1.25;
      padding: 10px; } }

/* styles footer start */
#footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 146px; }

.footer-top {
  width: 100%;
  background: #35342c;
  border-top: 5px solid #16150a;
  color: #fff;
  padding: 25px 0; }
  .footer-top nav {
    float: left;
    padding: 10px 0; }
    .footer-top nav a {
      float: left;
      margin-right: 25px;
      color: #fff; }
    .footer-top nav:first-child {
      float: right; }
      .footer-top nav:first-child a {
        margin-left: 25px;
        margin-right: 0; }

.footer-bottom {
  width: 100%;
  background: #151412;
  color: #fff;
  padding: 15px 0;
  font-size: 14px;
  line-height: 24px; }
  .footer-bottom p {
    margin: 0; }
  .footer-bottom .social-nav {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none; }
    .footer-bottom .social-nav li {
      float: left;
      margin-left: 10px; }
      .footer-bottom .social-nav li a {
        display: block;
        width: 24px;
        height: 24px;
        background: image_url('icons-social.png') 0 0 no-repeat;
        text-indent: -9999px;
        overflow: hidden; }
        .footer-bottom .social-nav li a.footer-fb {
          background-position: 0 0; }
        .footer-bottom .social-nav li a.footer-tw {
          background-position: -24px 0; }
        .footer-bottom .social-nav li a.footer-rss {
          background-position: -48px 0; }
        .footer-bottom .social-nav li a.footer-vk {
          background-position: -72px 0; }
        .footer-bottom .social-nav li a:hover {
          opacity: 0.7; }
