@mixin clickable_div{
  position: relative;
  text-align: center;
  a{
    text-decoration: none;
    color: #fff;
    span{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
}

@mixin color_fill($color){
  .right{
    background-color: $color;
    input{
      background-color: $color;
    }
  }
}

@mixin input_hint_img($position){
  .left{
    background-position: $position;
  }
}

@mixin blue_button($width, $height){
  width: $width;
  height: $height;
  border-radius: 2px;
  background: url('blue-button.png') 0 0 repeat-x;
  color: #fff;
  border: 1px #57a7d1 solid;
  line-height: 30px;
  font-family: Arial;
  font-style: italic;
  font-size: 12px;
  cursor: pointer;
  @include clickable_div;

  &:hover{
    background-position: 0 -30px;
  }

  &:active{
    background-position: 0 -60px;
  }

  a span{
    line-height: $height;
  }
}

@mixin load_more_button($width, $height){
  background: url("load_more_bg.png") 0 0 repeat-x;
  //height: 32px;
  //width: 107px;
  height: $height;
  width: $width;
  line-height: 32px;
  text-align: center;
  font-family: Arial;
  font-size: 15px;
  font-style: italic;
  color: #566267;
  border-left: 1px #cad2d2 solid;
  border-right: 1px #cad2d2 solid;
  border-radius: 2px;
  margin: 23px 0 26px 0;
  cursor: pointer;

  &:hover{
    background-position: 0 -32px;
  }

  &:active{
    background-position: 0 -64px;
  }
}