// Place all the styles related to the passes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixings';

.buy_passes_wrapper{
  font: {
    family: Arial;
    size: 13px;
  }

  h1{
    margin: 0;
    padding: 0;
    font: {
      size: 14px;
      style: italic;
      weight: normal;
    }
    line-height: 22px;
  }

  h2{
    margin: 0;
    padding: 0;
    font: {
      size: 20px;
      style: italic;
    }
  }

  .left{
    float: left;
    padding: 23px 0;

    .address_line{
      background: url("map-point.png") no-repeat;
      padding-left: 20px;
      font: {
        family: Arial;
        style: italic;
        size: 13px;
      }
      line-height: 23px;
    }

    .start_datetime{
      background: url("clock.png") no-repeat;
      padding-left: 20px;
      line-height: 23px;

      .date{
        color: grey;
        font-style: italic;
      }
    }

    .duration{
      background: url("clock-duration.png") no-repeat;
      padding-left: 20px;
      line-height: 23px;
    }
  }

  .right{
    padding: 23px 0;
    @include ticket_view;
    float: right;

  }

  .buy_hint{
    padding-bottom: 9px;
    font: {
      style: italic;
    }
    color: #9e9e9e;
  }

  .teacher_info{
    padding-bottom: 42px;

    .hint{
      font: {
        style: italic;
        size: 13px;
      }
    }

    .teacher_left{
      float: left;
      padding-top: 10px;

      .avatar{
        border: 1px #dadada solid;
        padding: 3px;
        width: 52px;
        height: 52px;
        background-color: white;

        img{
          width: 52px;
        }
      }
    }

    .teacher_right{
      float: left;
      padding-top: 10px;

      .name{
        text-decoration: none;
        color: #264DB0;
        font: {
          size: 13px;
        }
        padding-left: 10px;
      }

      .phone{
        padding: 5px 0 0 10px;
        font: {
          size: 17px;
          weight: bold;
        }
      }
    }

  }

  .pretty_form{
    .confirm{
      @include blue_button(130px, 26px);
      float: right;
    }

    form{
      padding-top: 10px;
    }
  }
}