// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixings';

.main{
  .perspectives{
    padding: 0px 10px 0 20px;
    font-family: Arial;

    .perspectives_title{
      font-size: 24px;
      padding-bottom: 6px;
    }

    .left, .right{
      float: left;
      width: 437px;
      padding-top: 14px;

      h2.quote{
        font: {
          size: 13px;
          weight: bold;
          style: italic;
        }
        padding: 21px 0 0 0;
        margin: 0;
      }

      .text{
        font: {
          size: 13px;
        }
        padding-top: 24px;
        line-height: 24px;
      }

      .study_button, .teach_button{
        @include blue_button(120px, 27px);
        float: right;
        margin-top: 10px;
      }
    }

    .right{
      margin-left: 93px;
    }
  }
}