@mixin rounded_corners ($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}


.icon-phone {
  width: 19px;
  height: 20px;
  line-height: 20px;
  margin-top: 0;
  background: image_url('icons-global.png') -78px 0 no-repeat;
}

.icon-skype {
  width: 19px;
  height: 20px;
  line-height: 20px;
  margin-top: 0;
  background: image_url('icons-global.png') -116px 0 no-repeat;
}

.icon-email {
  width: 19px;
  height: 20px;
  line-height: 20px;
  margin-top: 0;
  background: image_url('icons-global.png') -97px 0 no-repeat;
}

.contact-box {
  font-size: 20px;
  color: #2d2d25;
  line-height: 24px;

  h2 {
    margin: 0 0 5px;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    color: #585857;
  }

  p {
    margin: 0 0 10px;

    a:hover,
    a:active,
    a {
      color: #2d2d25;
    }
  }

  address {
    margin: 0 0 10px;
  }

  [class^="icon-"], [class*=" icon-"] {
    margin-top: 4px;
    margin-right: 10px;
  }
}

.map-holder {
  border: 1px solid #d7dce0;
  padding: 10px;
  background: #fff;
  margin: 15px 0 0;

  img {
    display: block;
    max-width: 100%;
  }
}

textarea.text-input.input-full-width.contact-message {
  height: 296px;
}

.how-it-works {

  .main-article {

    .columns-wrapper {
      position: relative;

      &.bottom-bordered {
        border-bottom: 1px solid #ebebea;
      }

      &.main-column {
        min-height: 2526px;
      }

      &.finisher {
        height: 106px;

        .right-column, .left-column {
          height: 80px;
          margin-top: 0;
        }

        .enumerator-double {
          top: 64px;
          height: 41px;
        }

        .left-arrow, .right-arrow {
          background: image_url('arrows.png') 0 no-repeat;
          width: 81px;
          height: 61px;
          margin-top: 8px;
        }

        .left-arrow {
          float: left;
          background-position: -83px;
          margin-left: 4px;
        }

        .right-arrow {
          float: right;
          margin-right: 4px;
        }

      }

      .sign-in-screen {
        width: 1170px;
        height: 463px;
        background: image_url('hiw-login.png') 0 no-repeat;
      }

      .enumerator-double {
        width: 44px;
        height: 45px;
        background: image_url('double-dot.png') 0 no-repeat;
        position: absolute;
        left: 563px;
        font-size: 22px;
        text-align: center;
        line-height: 43px;
        font-weight: bold;
        top: 16px;
        color: #333333;
      }

      .signature {
        width: 721px;
        margin: 0 auto;
        text-align: center;
        color: #333333;

        &.small {
          font-size: 33px;
        }

        &.large {
          font-size: 44px;
          font-weight: bold;
        }
      }

      .sign-in-screen {
        background: image_url('hiw-login.png') 0 no-repeat;
      }

      .mid-button {
        position: absolute;
        left: 390px;
        top: 87px;

        a {
          padding: 14px 68px;
          font-size: 21px;
          text-transform: none;
        }
      }

      .merger {
        margin: 0 auto;
        border-bottom: 1px solid #ebebea;
        border-left: 1px solid #ebebea;
        border-right: 1px solid #ebebea;
        width: 698px;
        height: 30px;
      }

      .right-column, .left-column {
        width: 583px;
        margin-top: 1px;

        &.sub-heading {
          min-height: 156px;
        }

        &.learn {
          height: 234px;
          border-bottom: 1px solid #ebebea;
        }

        &.study {
          height: 300px;
          border-bottom: 1px solid #ebebea;
        }

        &.top-bordered {
          border-top: 1px solid #ebebea;
        }

        &.right-bordered {
          border-right: 1px solid #ebebea;
        }

        &.left-bordered {
          border-left: 1px solid #ebebea;
        }

        .hiw_heading {
          font-size: 42px;
          font-weight: bold;
          text-align: center;
          width: 583px;
        }

        .mid-arrow {
          background: image_url('arrows.png') 0 no-repeat;
          width: 81px;
          height: 61px;
          margin-top: 3px;
        }

        .route {
          margin: 20px 96px;
          font-size: 21px;
        }

        .arrow {
          background: image_url('arrows.png') 0 no-repeat;
          width: 81px;
          height: 61px;
        }

        .sub-column {
          width: 490px;

          .column-button {
            font-weight: bold;
            font-size: 16px;
            padding: 14px 0;
            width: 489px;
          }

          a.column-button {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          }

          .column-button:first-child {
            margin-top: 15px;
          }

          .screen {
            margin-top: 10px;

            &.lessons {
              background: image_url('hiw-lessons.png') 0 no-repeat;
              width: 490px;
              height: 243px;
            }

            &.create-lesson {
              background: image_url('hiw-create-lesson.png') 0 no-repeat;
              width: 490px;
              height: 421px;
            }

            &.lesson {
              background: image_url('hiw-lesson.png') 0 no-repeat;
              width: 490px;
              height: 323px;
            }

            &.screen-comments {
              background: image_url('hiw-comments.png') 0 no-repeat;
              width: 490px;
              height: 247px;
            }

            &.buy {
              background: image_url('hiw-buy.png') 0 no-repeat;
              width: 490px;
              height: 230px;
            }

            &.print-pdf {
              background: image_url('hiw-print-pdf.png') 0 no-repeat;
              width: 490px;
              height: 230px;
            }

            &.feedback {
              background: image_url('hiw-feedback.png') 0 no-repeat;
              width: 490px;
              height: 405px;
            }

            &.clock {
              background: image_url('hiw-clock.png') 0 no-repeat;
              width: 490px;
              height: 188px;
            }

            &.social {
              background: image_url('hiw-social.png') 0 no-repeat;
              width: 490px;
              height: 203px;
            }

            &.scan-qr {
              background: image_url('hiw-scan-qr.png') 0 no-repeat;
              width: 490px;
              height: 229px;
            }

            &.people {
              background: image_url('hiw-people.png') 0 no-repeat;
              width: 490px;
              height: 229px;
            }

            &.payback {
              background: image_url('hiw-payback.png') 0 no-repeat;
              width: 490px;
              height: 405px;
            }
          }

          .navigator {
            position: relative;

            .left-part {
              border-right: 1px solid #ebebea;
              width: 244px;
              height: 81px;
              float: left;
            }

            .right-part {
              width: 245px;
              height: 81px;
              float: right;
            }

            .enumerator {
              width: 44px;
              height: 45px;
              background: image_url('dot.png') 0 no-repeat;
              position: absolute;
              left: 222px;
              font-size: 22px;
              text-align: center;
              line-height: 43px;
              font-weight: bold;
              top: 18px;
              color: #333333;
            }

          }
        }
      }

      .left-column {
        float: left;

        .hiw_heading {
          color: #e94f1f;
        }

        .mid-arrow {
          margin-left: 282px;
          background-position: 0;
        }

        .route {
          float: right;

          &:after {
            clear: both;
          }
        }

        .arrow {
          float: right;
          background-position: -83px;
          margin-right: 8px;
        }

        .sub-column {
          float: left;

          .column-button {
            background: #e94f1f;
          }
        }

      }

      .right-column {
        float: right;

        .hiw_heading {
          color: #305a83;;
        }

        .mid-arrow {
          background-position: -83px;
          margin-left: 200px;
        }

        .route {
          float: left;
        }

        .arrow {
          float: left;
          background-position: 0;
          margin-left: 8px;
        }

        .sub-column {
          float: right;

          .column-button {
            background: #7097bd;
          }
        }

      }

    }

  }

}


/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .map-holder {
    margin-bottom: 30px;
  }

}

/* Landscape phones and down */
@media (max-width: 480px) {

}
