// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main{
  .profile{
    .left{
      float: left;
      width: 160px;
      min-height: 300px;

      .avatar{
        width: 140px;
        height: 157px;
        border: 1px #dadada solid;
        padding: 9px;
      }

      .avatar_bottom{
        width: 159px;
        height: 7px;
        background-image: url('avatar_bottom.png');
      }

      .activity{
        height: 40px;
        width: 159px;
        padding: 10px 0 0 20px;

        div{
          font: {
            family: Arial;
            size: 11px;
          }
        }
        .online{
          color: #7d9f5e;
          font-size: 16px;
          font-weight: bold;
          padding-left: 30px;
        }

        .last_seen{
          font-weight: bold;
        }
      }

      .rating{
        height: 104px;
        width: 159px;
        padding: 20px 0 20px 0;

        .value{
          margin: 0 auto 20px auto;
          font-family: Arial;
          font-size: 27px;
          font-weight: bold;
          width: 12px;
        }

        .vote_up, .vote_down{
          float: left;
          width: 42px;
          height: 43px;
          margin-left: 20px;
          cursor: pointer;

          &:hover{
            background-position: 0 -43px;
          }

          &:active{
            background-position: 0 -86px;
          }

          &.disabled{
            cursor: auto;
            background-position: 0 -43px;
            &:active{ background-position: 0 -43px; }
          }

        }

        .vote_up{
          background-image: url('vote-up.png');
          margin-left: 20px;
        }

        .vote_down{
          background-image: url('vote-down.png');
          margin-left: 36px;
        }

      }

      .subscriptions{
        padding: 20px 18px 0 20px;

        .hint{
          width: 110px;
          height: 18px;
          font-family: Arial;
          font-size: 11px;
          font-weight: bold;
        }

        .subscribers{
          .line .subscriber{
            float: left;
            border: 1px #6699cc solid;
            width: 26px;
            height: 26px;
            padding: 1px;
            border-radius: 4px;
            margin: 10px 10px 0 0;

            img{
              width: 26px;
              height: 26px;
            }

          }
        }

        .load_more{
          background: url("load_more_bg.png") 0 0 repeat-x;
          height: 32px;
          width: 107px;
          line-height: 32px;
          text-align: center;
          font-family: Arial;
          font-size: 15px;
          font-style: italic;
          color: #566267;
          border-left: 1px #cad2d2 solid;
          border-right: 1px #cad2d2 solid;
          border-radius: 2px;
          margin: 23px 0 26px 0;
          cursor: pointer;

          &:hover{
            background-position: 0 -32px;
          }

          &:active{
            background-position: 0 -64px;
          }
        }
      }
    }

    .right{
      float: left;
      width: 780px;
      min-height: 300px;
      padding: 0 20px 0 40px;

      .tabs{
        width: 780px;
        height: 30px;

        .tab{
          float: left;
          height: 24px;
          border: 2px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          margin-right: 12px;
          padding: 6px 20px 0 20px;
          background-color: #ddd;
          border-color: #ddd;
          cursor: pointer;
          color: #666;
          font: {
            family: Arial;
            size: 13px;
          }
        }

        .tab.active, .tab:active, .tab:hover{
          background-color: #cccccc;
          border-color: #ccc;
          color: #111;
        }
      }

      .content{
        border: 10px #ccc solid;
        width: 780px;
        min-height: 200px;
      }
    }

  }
}

///*
//
//selected tab color: 99cccc
//unactive tab color: cccccc
//
//
//*/
