// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixings";

.vk_api_transport{
  position: absolute;
  top: -10000px;
}

.main{
  .profile{
    .left{
      float: left;
      width: 160px;
      min-height: 300px;

      .avatar_wrapper {
        .avatar{
          width: 140px;
          height: 157px;
          border: 1px #dadada solid;
          padding: 9px;

          &.missing{
            padding-top: 47px;
            padding-left: 34px;
            width: 115px;
            height: 119px;
          }

        }

        .avatar_bottom{
          width: 159px;
          height: 7px;
          background-image: url('avatar_bottom.png');
        }

        @include hoverable_box(251px, 25px, 159px);
        .user_hover_hint_wrapper{
          .user_hover_hint{

            .line{
              width: 241px;

              .subscribe{
                @include blue_button(89px, 22px);
                float: right;
              }
            }

            .edit_link{
              float: right;
              height: 13px;

              a{
                text-decoration: none;
                font: {
                  family: Arial;
                  size: 13px;
                  style: italic;
                }
                color: #a085a8;
              }
            }
          }
        }
      }


      .activity{
        height: 40px;
        width: 159px;
        padding: 10px 0 0 20px;

        div{
          font: {
            family: Arial;
            size: 11px;
          }
        }
        .online{
          color: #7d9f5e;
          font-size: 16px;
          font-weight: bold;
          padding-left: 30px;
        }

        .last_seen{
          font-weight: bold;
        }
      }

      .rating{
        width: 159px;
        padding: 20px 0 20px 0;

        .value{
          margin: 0 auto 20px auto;
          font-family: Arial;
          font-size: 27px;
          font-weight: bold;
          width: 12px;
        }

        .vote_up, .vote_down{
          float: left;
          width: 42px;
          height: 43px;
          margin-left: 20px;
          cursor: pointer;

          &:hover{
            background-position: 0 -43px;
          }

          &:active{
            background-position: 0 -86px;
          }

          &.disabled{
            cursor: auto;
            background-position: 0 -86px;
            &:active{ background-position: 0 -86px; }
          }

        }

        .vote_up{
          background-image: url('vote-up.png');
          margin-left: 20px;
        }

        .vote_down{
          background-image: url('vote-down.png');
          margin-left: 36px;
        }

      }

      .subscriptions, .watchlist, .my_courses{
        padding: 20px 18px 26px 20px;

        .hint{
          width: 110px;
          height: 18px;
          font-family: Arial;
          font-size: 11px;
          font-weight: bold;
        }

        .subscribers{
          .line .subscriber{
            float: left;
            border: 1px #6699cc solid;
            width: 26px;
            height: 26px;
            padding: 1px;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            margin: 10px 10px 0 0;
            position: relative;

            .hover_hint{
              position: absolute;
              left: 28px;
              top: -1px;
              z-index: 2;
              width: 120px;
              height: 28px;
              border: 1px #69C solid;
              border-radius: 4px;
              -webkit-border-radius: 4px;
              -moz-border-radius: 4px;
              overflow: hidden;
              background-color: white;
              text-align: center;
              line-height: 28px;
              display: none;
              a{
                font: {
                  weight: bold;
                  family: Arial;
                  style: italic;
                  size: 12px;
                }
                text-decoration: none;
                color: black;
              }
            }

            &:hover .hover_hint{
              display: block;
            }

            img{
              width: 26px;
              height: 26px;
            }

          }
        }

        .more_loadable{
          @include load_more_button(107px, 32px);
        }
      }

      .watchlist, .my_courses{
        padding: 0;

        .hint{
          padding: 20px 18px 0 20px;
        }

        .lessons, .courses{

          .lesson, .course{
            padding: 3px 10px 10px 20px;
            font: {
              size: 12px;
              family: Arial;
              style: italic;
            }
            a{
              color: #0000ff;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        .more_loadable{
          margin-left: 20px;
        }
      }



    }

    .right{
      float: left;
      width: 780px;
      min-height: 300px;
      padding: 0 20px 0 40px;
      position: relative;

      .tabs{
        width: 780px;
        height: 30px;

        .tab{
          float: left;
          height: 24px;
          border: 2px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          margin-right: 12px;
          padding: 6px 20px 0 20px;
          background-color: #ddd;
          border-color: #ddd;
          cursor: pointer;
          color: #666;
          font: {
            family: Arial;
            size: 13px;
          }

        }

        .tab.active, .tab:active, .tab:hover{
          background-color: #cccccc;
          border-color: #ccc;
          color: #111;
        }
      }

      .content{
        border: 10px #ccc solid;
        width: 743px;
        min-height: 200px;

        .connected_users_wrapper{
          .connected_users{
            padding-top: 8px;

            .connected_user{
              width: 330px;
              float: left;
              min-height: 40px;
              margin-bottom: 23px;
              padding-right: 41px;

              .avatar_wrapper{
                float: left;
                width: 100px;
                height: 100px;
                border: 1px #dadada solid;


                .avatar{
                  height: 83px;
                  padding: 9px;

                  img{
                    width: 82px;
                  }
                }

                .bottom{
                  width: 100px;
                  height: 5px;
                  background-image: url('subscriber_avatar_bottom.png');
                }

                @include hoverable_box(251px, -3px, 100px);
                .user_hover_hint_wrapper{
                  width: 151px;
                  .user_hover_hint{
                    .hover_hint_left{
                      width: 70px;
                    }

                    .hover_hint_right{
                      width: 42px;
                    }
                  }
                }
              }

              .info{
                width: 199px;
                height: 81px;
                float: right;
                padding-top: 9px;

                .full_name{
                  a{
                    font: {
                      family: Arial;
                      size: 14px;
                    }
                    color: black;
                    text-decoration: none;
                  }
                  padding-bottom: 10px;
                }

                .management{
                  padding-top: 11px;

                  .subscribe{
                    @include blue_button(86px, 28px);
                    float: left;
                  }

                  .unsubscribe{
                    width: 30px;
                    height: 30px;
                    border-radius: 2px;
                    -webkit-border-radius: 2px;
                    -moz-border-radius: 2px;
                    cursor: pointer;
                    background: url('trash.png') no-repeat;
                    float: left;

                    &:hover{
                      background-position: 0 -30px;
                    }

                    &:active{
                      background-position: 0 -60px;
                    }
                    @include clickable_div;
                  }
                }
              }
            }

            .user_connection_delimiter{
              float: left;
              width: 41px;
              min-height: 40px;
            }

          }

          .user_connections_bottom{
            margin-top: 16px;
            padding-bottom: 19px;

            .more_loadable{
              @include load_more_button(107px, 32px);
              margin: 0 auto;
            }

            .totals{
              float: right;
              color: black;
              padding: 0 43px 10px 0;

              font: {
                family: Arial;
                weight: bold;
                size: 12px;
              }
            }
          }
        }
      }
    }

  }
}

///*
//
//selected tab color: 99cccc
//unactive tab color: cccccc
//
//
//*/
